# Fichiers de configuration de Code::Blocks
*.depend
*.layout
*.cbp.user

# Ignorer les gros fichiers de données de l'IA et la vidéo de test
model/MobileNetSSD_deploy.caffemodel
*.mp4

# Dossiers de compilation (Exécutables et objets)
bin/
obj/
build/
*.exe
*.o